<h2>Dynamic Form</h2>
<p> This form is Dynamic using (Angular | responsive design using (Html ,Css only) </p>

<div class="container">
    <form [formGroup]="form_userInfo" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-75">
                <input type="text" placeholder="user name.." formControlName="name">
                <input type="text" placeholder="user age.." formControlName="age">
            </div>
            <div class="col-25">
                <input type="button" value="Add Group" (click)="addGroup()">
            </div>
        </div>
        <ng-container formArrayName="group" *ngIf="getGroupControl().controls.length">
            <div class="groupContainer">
                <div class="row" *ngFor="let group of getGroupControl().controls; let groupIndex = index">
                    <div class="row">
                        <div class="col-75">
                            <ng-container [formGroupName]="groupIndex">
                                <input type="text" placeholder="group name.." formControlName="groupName">
                                <ng-container formArrayName="courses" *ngIf="getCourseControl(groupIndex).length">
                                    <div class="courseContainer">
                                        <div class="row"
                                            *ngFor="let course of getCourseControl(groupIndex).controls; let courseIndex = index">
                                            <div class="col-75">
                                                <ng-container [formGroupName]="courseIndex">
                                                    <input type="text" placeholder="course name.."
                                                        formControlName="courseName">
                                                </ng-container>
                                            </div>
                                            <div class="col-25">
                                                <input class="deleteCourse" type="button" value="delete course"
                                                    (click)="deleteCourse(groupIndex,courseIndex)">
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </ng-container>
                        </div>
                        <div class="col-25 groupBtn">
                            <input class="deleteCourse" type="button" value="delete Group"
                                (click)="deleteGroup(groupIndex)">
                            <input type="button" value="Add Course" (click)="addCourse(groupIndex)">
                        </div>
                    </div>
                    <hr *ngIf="getGroupControl().controls.length >1">
                </div>
            </div>
        </ng-container>
        <div class="row">
            <input type="submit" value="Submit">
        </div>
    </form>
</div>

<div class="loader" *ngIf="loadData"></div>
<div class="testUpdateContainer">
    <h5>This button get data from serve to make update on the form (Simulation Reality)</h5>
    <input class="updateBtn" type="button" value="Test Update" (click)="updateForm()">
</div>