* {
  box-sizing: border-box;
}
.groupContainer,.courseContainer{
    margin-top: 10px;
    padding:10px;
    background-color: rgb(182, 175, 175);
}
.courseContainer{
    background-color: rgb(138, 121, 121);
}

input[type=text] {
  width: 100%;
  padding: 12px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

input[type=button],
input[type=submit] {
  background-color: rgb(31, 98, 197);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}
input[type=submit]{
    background-color: #4CAF50;
    margin-top: 10px;
}
input.deleteCourse{
  background-color: rgb(206, 8, 8);
}
div.groupBtn input{
  padding:5px 5px;
  margin-left: 5px;
  height: 40px;
}


.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=button],input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}


.loader {
  /* center the loader */
  position: fixed;
  left: 50%;
  top:50%;
  transform: translate(-50%, 0);
   /* end center the loader */
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
input.updateBtn{
  float: left;
}
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}